html,
body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  & > div:first-of-type {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
